/*--------------------------------------------------------------
# Font Mixins
----------------------------------------------------------------
EG:
@mixin serif($weight: regular) {
  @if $weight == regular {
    font-family: 'MyFontFace', 'Times', serif;
  }
  @else if $weight == bold {
    font-family: 'MyFontFaceBold', 'Times', serif;
  }
  @else if $weight == italic {
    font-family: 'MyFontFaceItalic', 'Times', serif;
  }
} */

@mixin font-knockout() {
  font-family: 'knockout', sans-serif;
}
@mixin font-apercu($weight: regular) {
  @if $weight == regular {
    font-family: 'apercu', sans-serif;
  }
  @if $weight == bold {
    font-family: 'apercu-bold', sans-serif;
  }
}

/*--------------------------------------------------------------
# Font Imports
--------------------------------------------------------------*/
@font-face {
  font-family: 'knockout';
  src: url('/assets/fonts/Knockout-HTF48-Featherweight.ttf');
}
@font-face {
  font-family: 'apercu-bold';
  src: url('/assets/fonts/Apercu Bold.otf');
}
@font-face {
  font-family: 'apercu';
  src: url('/assets/fonts/Apercu Regular.otf');
}
