/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	@include font-apercu();
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: default;
	color: $black;
}

html {
	font-size: 10px;
}

/*--------------------------------------------------------------
# Headings (h1 through h6)
--------------------------------------------------------------*/

h1 {
	@include font-knockout();
	font-size: 140px;
	line-height: 150px;
	text-transform: uppercase;
}

h2 {
	@include font-knockout();
	font-size: 88px;
	line-height: 92px;
	text-transform: uppercase;
}

h3 {
	@include font-apercu(bold);
	font-size: 46px;
	line-height: 52px;
	overflow: hidden;
	span {
    display: block;
    float: left;
    clear: both;
    border-bottom: 4px solid $ww-yellow;
  }
}


/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
