/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
// Default
$black: #252729;
$white: #ffffff;

// Custom
$ww-yellow: #DAC229;


/*--------------------------------------------------------------
# Media Queries / Breakpoints
--------------------------------------------------------------*/
$bp-xxs: 350px;
$bp-xs: 670px;
$bp-s: 790px;
$bp-m: 1024px;
$bp-l: 1280px;
$bp-xl: 1500px;
