/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  background: none;
  padding: 0;
}

hr {
  border: none;
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media Queries / Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Justify Inline Block Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Transition
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Transform
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flexbox
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flexbox child
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Font Mixins
----------------------------------------------------------------
EG:
@mixin serif($weight: regular) {
  @if $weight == regular {
    font-family: 'MyFontFace', 'Times', serif;
  }
  @else if $weight == bold {
    font-family: 'MyFontFaceBold', 'Times', serif;
  }
  @else if $weight == italic {
    font-family: 'MyFontFaceItalic', 'Times', serif;
  }
} */
/*--------------------------------------------------------------
# Font Imports
--------------------------------------------------------------*/
@font-face {
  font-family: 'knockout';
  src: url("/assets/fonts/Knockout-HTF48-Featherweight.ttf");
}
@font-face {
  font-family: 'apercu-bold';
  src: url("/assets/fonts/Apercu Bold.otf");
}
@font-face {
  font-family: 'apercu';
  src: url("/assets/fonts/Apercu Regular.otf");
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'apercu', sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  color: #252729;
}

html {
  font-size: 10px;
}

/*--------------------------------------------------------------
# Headings (h1 through h6)
--------------------------------------------------------------*/
h1 {
  font-family: 'knockout', sans-serif;
  font-size: 140px;
  line-height: 150px;
  text-transform: uppercase;
}

h2 {
  font-family: 'knockout', sans-serif;
  font-size: 88px;
  line-height: 92px;
  text-transform: uppercase;
}

h3 {
  font-family: 'apercu-bold', sans-serif;
  font-size: 46px;
  line-height: 52px;
  overflow: hidden;
}
h3 span {
  display: block;
  float: left;
  clear: both;
  border-bottom: 4px solid #DAC229;
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
body,
html {
  width: 100%;
  overflow: hidden;
}

body {
  opacity: 0;
}

.ww-wrap {
  display: block;
  width: 100%;
  height: auto;
}

.ww-container {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1440px;
  position: relative;
  padding-top: 40px;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Body - Content Wrap
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ol,
ul {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  color: #252729;
  list-style: disc;
  width: 80%;
  margin: 5rem auto;
}
@media all and (max-width: 670px) {
  ol,
  ul {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 2.5rem auto;
  }
}

/*--------------------------------------------------------------
# Figure / Image
--------------------------------------------------------------*/
figure {
  overflow: hidden;
  width: 100%;
  height: auto;
}
figure img {
  width: auto;
  height: auto;
  max-width: 100%;
}
figure img.desktop {
  display: inline;
}
figure img.mobile {
  display: none;
}
@media all and (max-width: 670px) {
  figure img.desktop {
    display: none;
  }
  figure img.mobile {
    display: inline;
  }
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
.ww-intro {
  text-align: center;
}
.ww-intro .ww-logo {
  width: 250px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ww-intro .ww-dwyl {
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ww-dwyl h1.start {
  position: absolute;
  top: 2%;
  right: 0;
  z-index: 2;
}
@media (aspect-ratio: 16 / 9), (aspect-ratio: 16 / 10) {
  .ww-dwyl h1.start {
    top: 10%;
  }
}
.ww-dwyl h3.start {
  position: absolute;
  top: 25%;
  right: 0%;
  z-index: 2;
}
@media (aspect-ratio: 16 / 9), (aspect-ratio: 16 / 10) {
  .ww-dwyl h3.start {
    top: 30%;
  }
}
.ww-dwyl h3.end {
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 2;
}
@media (aspect-ratio: 16 / 9), (aspect-ratio: 16 / 10) {
  .ww-dwyl h3.end {
    top: 20%;
  }
}
.ww-dwyl h1.end {
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 2;
}
@media (aspect-ratio: 16 / 9), (aspect-ratio: 16 / 10) {
  .ww-dwyl h1.end {
    top: 30%;
  }
}
.ww-dwyl .dwyl-image-swap {
  width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.ww-powerful h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.ww-powerful h1 .line {
  display: block;
  width: 100%;
  height: 8px;
  background: #DAC229;
  position: relative;
  bottom: 10px;
}

.ww-problem .content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ww-problem .content.part-2 {
  text-align: center;
}
.ww-problem h3.part-1 {
  line-height: 1.4;
  margin-bottom: 40px;
  overflow: visible;
}
.ww-problem h3.part-1 .happy {
  display: inline-block;
  position: relative;
  float: none;
  clear: none;
  border: none;
}
.ww-problem h3.part-1 .happy .line {
  display: block;
  width: 100%;
  height: 5px;
  background: #DAC229;
  position: absolute;
  top: 100%;
  left: 0;
}
.ww-problem h1.part-3 {
  font-size: 240px;
  line-height: 1.1;
}

.ww-songs h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.ww-songs h1 .yellow {
  display: inline-block;
  position: relative;
}
.ww-songs h1 .yellow .line {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DAC229;
}

.ww-needs h3 {
  position: absolute;
  top: 35%;
  left: 0;
  transform: translateY(-50%);
}
.ww-needs h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  white-space: nowrap;
}
.ww-needs h1.part-5, .ww-needs h1.part-6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ww-iam {
  text-align: center;
}
.ww-iam h3 {
  position: absolute;
  top: 10%;
  left: 0;
}
.ww-iam .iam-switch {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  text-align: left;
}

.instagram-row {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 60px 0;
}
.instagram-row img {
  display: block;
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.instagram-row h3 {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 40%;
  width: auto;
  max-width: 60%;
  height: auto;
  z-index: 2;
  background: #FFF;
  padding: 10px;
  transform: translateY(-50%);
}
.instagram-row h3 span {
  display: block;
  float: none;
  border: none;
  color: #DAC229;
  font-size: 22px;
}
.instagram-row:nth-of-type(even) img {
  left: auto;
  right: 0;
}
.instagram-row:nth-of-type(even) h3 {
  left: 0;
}

.ww-place h3 {
  margin-bottom: 60px;
}

.ww-family {
  text-align: center;
}
.ww-family h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-family h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.ww-world .content-1,
.ww-world .content-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.ww-beauty {
  text-align: center;
}
.ww-beauty h1,
.ww-beauty h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-beauty h1 .yellow,
.ww-beauty h2 .yellow {
  display: inline-block;
  position: relative;
}
.ww-beauty h1 .yellow .line,
.ww-beauty h2 .yellow .line {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DAC229;
}

.ww-you {
  text-align: center;
}
.ww-you h1,
.ww-you h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-you h1 .yellow,
.ww-you h2 .yellow {
  display: inline-block;
  position: relative;
}
.ww-you h1 .yellow .line,
.ww-you h2 .yellow .line {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DAC229;
}

.ww-share {
  text-align: center;
}
.ww-share h1,
.ww-share h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-share h1 .yellow,
.ww-share h2 .yellow {
  display: inline-block;
  position: relative;
}
.ww-share h1 .yellow .line,
.ww-share h2 .yellow .line {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DAC229;
}

.ww-environment {
  text-align: center;
}
.ww-environment h1,
.ww-environment h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-environment h1 .yellow,
.ww-environment h2 .yellow {
  display: inline-block;
  position: relative;
}
.ww-environment h1 .yellow .line,
.ww-environment h2 .yellow .line {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DAC229;
}
.ww-environment video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.ww-countries {
  text-align: center;
}
.ww-countries .ww-container {
  padding: 60px 0;
}
.ww-countries h3 span {
  display: inline-block;
  float: none;
}

.ww-growth .content-1,
.ww-growth .content-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.ww-people {
  text-align: center;
}
.ww-people .content {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ww-people h3 span {
  display: inline-block;
  float: none;
}

.ww-we {
  text-align: center;
}
.ww-we h1,
.ww-we h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-we h1 .yellow,
.ww-we h2 .yellow {
  display: inline-block;
  position: relative;
}
.ww-we h1 .yellow .line,
.ww-we h2 .yellow .line {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DAC229;
}

.ww-progress {
  text-align: center;
}
.ww-progress h1,
.ww-progress h2,
.ww-progress h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-progress h1 span,
.ww-progress h2 span,
.ww-progress h3 span {
  display: inline-block;
  float: none;
}
.ww-progress h1 .yellow,
.ww-progress h2 .yellow,
.ww-progress h3 .yellow {
  display: inline-block;
  position: relative;
}
.ww-progress h1 .yellow .line,
.ww-progress h2 .yellow .line,
.ww-progress h3 .yellow .line {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DAC229;
}

.ww-reasons {
  text-align: center;
}
.ww-reasons .content {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ww-reasons h3 span {
  display: inline-block;
  float: none;
}

.ww-outro {
  text-align: center;
}
.ww-outro h1,
.ww-outro h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-outro h1 .yellow,
.ww-outro h2 .yellow {
  display: inline-block;
  position: relative;
}
.ww-outro h1 .yellow .line,
.ww-outro h2 .yellow .line {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DAC229;
}
.ww-outro h3 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.ww-outro h3 span {
  display: inline-block;
  float: none;
}

.ww-final {
  text-align: center;
}
.ww-final .ww-dwyl {
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
