/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body,
html {
  width: 100%;
  overflow: hidden;
}

// Pre-animation
body {
  opacity: 0;
}

.ww-wrap {
  display: block;
  width: 100%;
  height: auto;
}

.ww-container {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1440px;
  position: relative;
  padding-top: 40px;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Body - Content Wrap
--------------------------------------------------------------*/
