//
// DWYL
//

.ww-dwyl {
  h1.start {
    position: absolute;
    top: 2%;
    right: 0;
    z-index: 2;
    @include hdmi(){
      top: 10%;
    }
  }
  h3.start {
    position: absolute;
    top: 25%;
    right: 0%;
    z-index: 2;
    @include hdmi(){
      top: 30%;
    }
  }
  h3.end {
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 2;
    @include hdmi(){
      top: 20%;
    }
  }
  h1.end {
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 2;
    @include hdmi(){
      top: 30%;
    }
  }
  .dwyl-image-swap {
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
