//
// Place
//

.ww-family {
  text-align: center;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
  }
  h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
  }
}
