//
// Final Section
//

.ww-final {
  text-align: center;
  .ww-dwyl {
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
