//
// Growth
//

.ww-growth {
  .content-1,
  .content-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
}
