//
// I am
//

.ww-iam {
  text-align: center;
  h3 {
    position: absolute;
    top: 10%;
    left: 0;
  }
  .iam-switch {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: left;
  }
}
