//
// Instagram Section
//

.instagram-row {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 60px 0;
  img {
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
  }
  h3 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 40%;
    width: auto;
    max-width: 60%;
    height: auto;
    z-index: 2;
    background: #FFF;
    padding: 10px;
    transform: translateY(-50%);
    span {
      display: block;
      float: none;
      border: none;
      color: $ww-yellow;
      font-size: 22px;
    }
  }
  &:nth-of-type(even){
    img {
      left: auto;
      right: 0;
    }
    h3 {
      left: 0;
    }
  }
}
