//
// Needs
//

.ww-needs {
  h3 {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    white-space: nowrap;
    &.part-5,
    &.part-6 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}
