//
// People
//

.ww-people {
  text-align: center;
  .content {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h3 span {
    display: inline-block;
    float: none;
  }
}
