//
// Powerful
//

.ww-powerful {
  h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    .line {
      display: block;
      width: 100%;
      height: 8px;
      background: $ww-yellow;
      position: relative;
      bottom: 10px;
    }
  }
}
