//
// Problem
//

.ww-problem {
  .content {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.part-2 {
      text-align: center;
    }
  }
  h3.part-1 {
    line-height: 1.4;
    margin-bottom: 40px;
    overflow: visible;
    .happy {
      display: inline-block;
      position: relative;
      float: none;
      clear: none;
      border: none;
      .line {
        display: block;
        width: 100%;
        height: 5px;
        background: $ww-yellow;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }
  h1.part-3 {
    font-size: 240px;
    line-height: 1.1;
  }
}
