//
// You
//

.ww-you {
  text-align: center;
  h1,
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%,-50%);
    .yellow {
      display: inline-block;
      position: relative;
      .line {
        display: block;
        width: 100%;
        height: 5px;;
        position: absolute;
        top: 100%;
        left: 0;
        background: $ww-yellow;
      }
    }
  }
}
